extends ../layout

block content
  h1  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BLOG
  p
       a(href='/blog/new', class='btn btn-primary') Add a saying


  - if(docs.length)
    table.table
      tr
        th author
        th content
        th createTime
          each blog in docs
            tr
              td #{blog.author}
              td #{blog.content}
              td #{blog.createTime}
              td
                a.btn.btn-default(href='/blog/#{blog.id}/edit') Edit
              td  
                form(method='post', action='/blog/' + blog.id)
                  input(name='_method', value='DELETE', type='hidden')
                  button.btn.btn-danger(type='submit') Delete
  - else
    p You don't have any tasks! 
